<html>
 <head>
 <style>
   body {
    background: <%= color %>;
   }
 </style>

 </head>
 <body>
   <h1> Welcome to the guessing game!
   <h5> Guess a number between 1 -10</h5>

   <form>
     <input type="text" name='guess' />
     <input type="submit" value='Guess!' /> 
    </form>
    <% if params[:cheat] == "true" %>
    <p>
      the secret number is <%= secret %>

    </p>
    <% end %>

    <% if params[:guess] %>
    <p>
      <%= message %>

    </p>
    <% end %>


 </body>
</html>